<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Conshiy
 * @package     Conshiy_Slave
 * @copyright   Copyright (c) 2014 a356 Development (http://www.a356dev.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Conshiy_Slave>
            <version>0.0.0.1</version>
        </Conshiy_Slave>
    </modules>
    <global>
        <models>
            <conshiyslave>
                <class>Conshiy_Slave_Model</class>
                <resourceModel>conshiyslave_resource</resourceModel>
            </conshiyslave>
            <conshiyslave_resource>
                <class>Conshiy_Slave_Model_Resource</class>
                <entities>
                    <jobs>
                        <table>conshiy_jobs</table>
                    </jobs>
                </entities>
            </conshiyslave_resource>
        </models>
        <helpers>
            <conshiyslave>
                <class>Conshiy_Slave_Helper</class>
            </conshiyslave>
        </helpers>
        <blocks>
			<conshiyslave>
				<class>Conshiy_Slave_Block</class>
			</conshiyslave>
		</blocks>
        <resources>
            <conshiyslave_setup>
                <setup>
                    <module>Conshiy_Slave</module>
                    <class>Conshiy_Slave_Model_Resource_Setup</class>
                </setup>
            </conshiyslave_setup>
        </resources>
    </global>
    <admin>
        <routers>
        	<conshiyslave>
				<use>admin</use>
				<args>
					<module>Conshiy_Slave</module>
					<frontName>conshiy</frontName>
				</args>
			</conshiyslave>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<conshiy_menu>
				<title>Conshiy</title>
				<sort_order>100</sort_order>
				<children>
					<slave_setup_menu module="conshiyslave">
						<title>Slave Configuration</title>
						<sort_order>1</sort_order>
						<action>adminhtml/system_config/edit/section/slave_config</action>
					</slave_setup_menu>
				</children>
			</conshiy_menu>
		</menu>
    </adminhtml>
    <default>
    	<slave_config>
    		<master>
    			<enabled>0</enabled>
    			<wsdl>http://master.website.tld/api/v2_soap/?wsdl</wsdl>
    		</master>
    	</slave_config>
    </default>
</config>